{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "babelOptions": {
      "configFile": "./.babelrc"
    }
  },
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-underscore-dangle": "off",
    "react/function-component-definition": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["/src/snippet.js", "/rollup.config.js"] }
    ]
  }
}
