{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-underscore-dangle": "off"
  }
}
