version: 2.1
orbs:
  browser-tools: circleci/browser-tools@1.4.1
executors:
  browser-executor:
    docker:
      - image: cimg/node:16.20-browsers
    working_directory: ~/repo
jobs:
  build-browser-sdk:
    executor: browser-executor
    steps:
      - browser-tools/install-chrome
      - browser-tools/install-chromedriver
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install
          command: npm ci
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Audit
          command: npm audit --audit-level=low
      - run:
          name: Test
          command: npm test
      - run:
          name: Build
          command: npm run build
      - persist_to_workspace:
          root: .
          paths: .
  deploy-browser-sdk:
    executor: browser-executor
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$npm_TOKEN" > .npmrc
      - run:
          name: Publish package
          command: |
            PACKAGE_VERSION=$(cat ./package.json \
              | grep version \
              | head -1 \
              | awk -F: '{ print $2 }' \
              | sed 's/[",]//g')
            if [[ $PACKAGE_VERSION == *"beta"* ]];
            then
              IS_BETA="true"
            else
              IS_BETA="false"
            fi
            if [ $IS_BETA == "true" ];
            then
              npm publish --access public --tag beta
            else
              npm publish --access public
            fi
workflows:
  version: 2
  test-deploy:
    jobs:
      - deploy-browser-sdk
